<section class="flex flex-col lg:flex-row">

  <div class="order-2 lg:order-1 lg:w-2/5 p-6 sm:p-8 lg:p-12 flex flex-col justify-center text-center lg:text-left lg:translate-x-12 lg:translate-y-8">
    <h1 class="font-['Cormorant_Garamond'] text-3xl lg:text-5xl font-semibold italic">
      {{ title }}
    </h1>

<p class="mt-4 text-lg font-['Inter'] italic">
  {{ description }}
</p>
  </div>

  <img
    [src]="imageUrl"
    [alt]="title"
    class="order-1 lg:order-2 w-full h-auto lg:w-3/5 rounded-sm"
  >

</section>
