
<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-6 lg:gap-x-12 gap-y-10 lg:gap-y-16">
  @for (product of products(); track product.slug) {
    <li>
      <div class="relative">
      <a [routerLink]="['/products', product.slug]">

        <img
          [src]="product.imageUrl"
          [alt]="product.name"
          class="w-full h-auto rounded-sm"
        >
        </a>

<button
  type="button"
  class="absolute bottom-3 right-3 text-5xl text-white cursor-pointer hover:scale-110 transition-transform"
  aria-label="Add to favorites"
>
  ♥
</button>
      </div>

      <a
      [routerLink]="['/products', product.slug]"
      class="block mt-4"
      >
    
        {{ product.name }}
        
     <p class="mt-1 text-sm text-gray-800">
     {{ product.price }} kr
     </p>
      </a>
    </li>
  }
</ul>
